@font-face{
    font-family: BarberShop;
    src: url('../font/Barber_shop.ttf');
}
@font-face{
    font-family: Greeb;
    src: url('../font/GREEB___.ttf');
}
@font-face{
    font-family: Guilty;
    src: url('../font/Guilty.ttf');
}
@font-face{
    font-family: nipple;
    src: url('../font/nipple.TTF');
}